* {
	font-size: 16px;
	color: #8180B2;
	background-color: #321456;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

#history{
	background: transparent;
}

#terminal {
	width: 100%;
	font-family: "courier";
}

#terminal ul {
	margin: 5px;
}

.command {
	margin: 5px;
	width: 95%;
	border: 0px;
	font-family: "Courier";
}

.shell {
	margin-left: 5px;
}

#command-input {}
#command-input .shell {
	width: 5%;
}


.command input {
	border: none;
	border-color: transparent;
}

textarea:focus, input:focus{
    outline: 0;
}

#terminal .historyEntry {
	display: block;
	white-space: pre;
}
