* {
	padding: 0;
	margin: 0;
	color: black;
	font-size: 16px;
}

#terminal {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "courier";
}

.command {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0px;
	font-family: "Courier";
}

.command input {
	border: none;
	border-color: transparent;
}

textarea:focus, input:focus{
    outline: 0;
}

#terminal .historyEntry {
	display: block;
	white-space: pre;
}

#terminal command {
}
